.banner {
  background-size: cover;
  background-position: center;
  color: white;
  padding: 150px 0;
  text-align: center;
  margin: 0;
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.7);

  p {
    font-style: italic;
    font-size: 18px;
  }
}
